<article class="card card--profile">
  <div class="card__image-container">
    <div class="card__image--profile">
      <span class="avatar-text">{{ personalInfo.name.charAt(0) }}</span>
    </div>
  </div>

  <div class="card__header">
    <h2 class="card__title no__margin">{{ personalInfo.name }}</h2>
    <div class="card__subtitle__container">
      <p class="card__subtitle">{{ personalInfo.title }}</p>
      <a href="#" class="button button--primary" target="_blank">CV</a>
    </div>
  </div>

  <div class="card__body">
    <div class="card__link">
      <i class="icon">📧</i>
      <a [href]="'mailto:' + personalInfo.email">{{ personalInfo.email }}</a>
    </div>
    <div class="card__link">
      <i class="icon">📍</i>
      <a>{{ personalInfo.location }}</a>
    </div>

    <p class="card__text">{{ personalInfo.description }}</p>

    <div class="container__social">
      <div class="social">
        <div *ngFor="let link of socialLinks" class="social__icon">
          <a [href]="link.url" target="_blank">
            <span>{{ link.icon }}</span>
          </a>
          <a [href]="link.url" target="_blank">
            <span>{{ link.icon }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

