<header class="header">
  <div class="switches">
    <div class="toggle-theme" (click)="toggleTheme()">
      <span class="toggle-theme__icon">{{ isDarkMode ? '🌙' : '☀️' }}</span>
      <p class="toggle-theme__text">{{ themeText }}</p>
    </div>
  </div>

  <div class="colors">
    <div
      *ngFor="let color of colors"
      [attr.data-color]="color.value"
      [style.background-color]="color.value"
      class="colors__item colors__item--{{color.name}}"
      (click)="changeColor(color.value)">
    </div>
  </div>
</header>

