<header class="header">
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <h2>Gerson Rodríguez</h2>
      </div>
      <ul class="nav-menu">
        <li><a (click)="scrollToSection('about')">Sobre Mí</a></li>
        <li><a (click)="scrollToSection('experience')">Experiencia</a></li>
        <li><a (click)="scrollToSection('education')">Educación</a></li>
        <li><a (click)="scrollToSection('skills')">Conocimientos</a></li>
        <li><a (click)="scrollToSection('projects')">Proyectos</a></li>
      </ul>
    </div>
  </nav>
</header>

