<article *ngFor="let category of skillCategories" class="card">
  <h2 class="card__title">{{ category.category }}</h2>
  <div class="skills">
    <div class="skills__header">
      <small class="skills__level">Inicial</small>
      <small class="skills__level">Medio</small>
      <small class="skills__level">Avanzado</small>
    </div>
    <div *ngFor="let skill of category.skills" class="skills__item">
      <p class="skills__tech">{{ skill.name }}</p>
      <div class="skills__bar" [ngClass]="'skills__bar--' + (skill.level * 10)"></div>
    </div>
  </div>
</article>

