<article class="card card--experience">
  <h2 class="card__title">Experiencia Profesional</h2>
  <div *ngFor="let exp of experiences" class="experience">
    <div class="experience__info">
      <p class="experience__time">{{ exp.period }}</p>
      <h3 class="experience__title">{{ exp.company }}</h3>
      <h4 class="experience__position">{{ exp.position }}</h4>
      <p class="experience__provider">{{ exp.provider }}</p>
      <p class="experience__description">{{ exp.description }}</p>
    </div>
  </div>
</article>

