<div class="experience-timeline">
  <div *ngFor="let exp of experiences; let i = index" class="timeline-item" [class.animate]="true" [style.animation-delay.s]="i * 0.2">
    <div class="timeline-marker">
      <div class="marker-dot"></div>
    </div>

    <div class="timeline-content">
      <div class="timeline-header">
        <div>
          <h3 class="company-name">{{ exp.company }}</h3>
          <h4 class="position-title">{{ exp.position }}</h4>
          <p class="provider-name">{{ exp.provider }}</p>
        </div>
        <span class="period-badge">{{ exp.period }}</span>
      </div>

      <p class="job-description">{{ exp.description }}</p>

      <div class="responsibilities">
        <h5>Responsabilidades clave:</h5>
        <ul>
          <li *ngFor="let resp of exp.responsibilities">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            <span>{{ resp }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

